---
import BasicLayout from "../layouts/BasicLayout.astro";
import SEO from "../layouts/SEO.astro";
import logo from "../assets/svg/astro-logo.svg";
import { Image } from "astro:assets";
import SectHero from "../sections/SectHero.astro";
import SideMenu from "../components/SideMenu.astro";
import SectInfo from "../sections/SectInfo.astro";
import SectMethods from "../sections/SectMethods.astro";
import SectOrbit from "../sections/SectOrbit.astro";
import SectEarth from "../sections/SectEarth.astro";
---

<BasicLayout>
  <SEO
    slot="seo"
    title="Home"
    description="This configurated Astro JS template"
    imageUrls={{ fb: "" }}
  />
  <main>
    <SectHero />
    <SectInfo />
    <SectMethods />
    <SectOrbit />
    <SectEarth />
  </main>
  <Fragment slot="after-footer">
    <SideMenu />
  </Fragment>
</BasicLayout>
