---
import bgTop from "../assets/img/sect5Top.png";
import bgBottom from "../assets/img/sect5Bottom.png";
import rocket from "../assets/img/section-5-rocket.svg";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
---

<section>
    <div class="decoration">
        <Image class="bg-top" src={bgTop} alt="bg top" />
        <Image class="earth" src={bgBottom} alt="earth" />
        <Image class="rocket" src={rocket} alt="rocket" />
    </div>
    <div class="container">
        <h2>
            Возможно, однажды Марс станет второй планетой, приютившей
            человечество
        </h2>
        <a class="button" href="/feedback">
            <Button>Запишись в ряды колонистов и первооткрывателей</Button>
        </a>
    </div>
</section>

<style lang="scss">
    section {
        position: relative;
        z-index: 0;
    }
    .container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        min-height: 100vh;
        align-items: center;
    }
    .decoration {
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    .button {
        grid-row: 3;
        justify-self: center;
    }
    h2 {
        grid-row: 2;
        font-size: 60px;
        font-weight: 500;
        line-height: 1.5;
        max-width: 1253px;
    }
    .bg-top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 20vh;
    }
    .earth {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }
    .rocket {
        position: absolute;
        inset: 0;
        top: calc(50% - 50px);
        left: calc(50% + 300px);
    }
</style>
